---

import './EasterEggDronePanel.scss';
import EasterEggDronePanel from './EasterEggDronePanel';
---

<section class="identity-slide identity-slide--easter-egg">
  <div class="identity-slide__inner">
    <EasterEggDronePanel client:load />
  </div>
</section>