---
name: Container
---

<script lang="ts">
  export let maxWidth: string = "var(--container-max)";
  export let as: string = "div";
</script>

{#if as === 'section'}
  <section class="container" style={`max-width: ${maxWidth};`}> <slot /> </section>
{:else if as === 'article'}
  <article class="container" style={`max-width: ${maxWidth};`}> <slot /> </article>
{:else}
  <div class="container" style={`max-width: ${maxWidth};`}> <slot /> </div>
{/if}

<style>
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: var(--space-md);
    padding-right: var(--space-md);
  }
</style>
